@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Red Hat Display';
}

body > div {
    background-color: hsl(225, 100%, 94%);
    height: 90%;
}

@media screen and (max-width: 575px) {
    .bkg {
        background-image: url("../img/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }
}

@media screen and (min-width: 576px) {
    .bkg {
        background-image: url("../img/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-position: center top;
    }
}

main > div {
    border-radius: 20px;
}

.img-card {
    width: 100%;
}

main > div > img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-weight: 900;
    font-size: 28px;

    color: hsl(223, 47%, 23%);
}

h2 {
    font-weight: 900;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
}

.texto-claro {
    color: hsl(224, 23%, 55%)
}

.bkg-claro {
    background-color: hsl(225, 100%, 98%);
    border-radius: 16px;
}

.bkg-claro p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.change {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.botao {
    background-color: hsl(245, 75%, 52%);
    color: white;

    font-size: 16px;

    border-radius: 12px;
}

.botao:active {
    background-color: hsl(249, 90%, 68%);
}

.change:active {
    color: hsl(249, 63%, 59%);
    text-decoration: none;
}

.cancel:active {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}